* {
    margin: 0;
    padding: 0;
}

/* body section */

body {
    font-family: 'Open Sans', sans-serif;
}

/* navbar section */

.manus-container {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    height: 80px;
    background-color: #D9EFF1;
    align-items: center;
}

.menus li {
    border-right: 2px solid gray;
    padding-right: 12.5px;
}

.menus li:hover {
    color: rgb(255, 81, 0);
    cursor: pointer;
}

.menus {
    display: flex;
    gap: 18px;
    list-style: none;
    justify-content: space-around;
    font-size: 20px;

}

.logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 80px;
    width: 80px;
}

/* banner section */

.banner-container {
    height: 100vh;
    background-color: rgba(229, 84, 115, 0.10);
    position: relative;

}

.banner-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 70px;

}

.banner-title {
    color: #272727;
    font-size: 70px;
    font-weight: 800;
}

.banner-para {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

}

.shop-now {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 40px;
    border: none;
    margin-top: 20px;
}

.flower {
    width: 435px;
    height: 600px;
}

.banner-flower img {
    position: absolute;
    bottom: 0;
    right: 100px;
}



/* Our Featured Flowers section */
.featured-flowers-container {
    height: 100vh;
    margin-top: 50px;
}

.featured-container h3 {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.featured-container p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.featured-flower {
    display: flex;
    gap: 30px;
    margin-left: 170px;
    margin-right: 170px;
    position: relative;
}


.featured-img-1 {
    width: 326px;
    height: 400px;
    background-color: #F2DEE7;
    border-radius: 300px 300px 0px 0px;
    display: flex;
    align-items: flex-end;

}

.featured-img-1 img {
    width: 270px;
    height: 270px;
    margin-left: 40px;
}

.featured-img-2 img {
    width: 210px;
    height: 328px;
    margin-left: 40px;
}

.featured-img-3 img {
    width: 214px;
    height: 371px;
    margin-left: 40px;
}



.featured-img-2 {
    width: 326px;
    height: 400px;
    background-color: #D9EFF1;
    border-radius: 300px 300px 0px 0px;
    display: flex;
    align-items: flex-end;
}

.featured-img-3 {
    width: 326px;
    height: 400px;
    background-color: #E3EBDB;
    border-radius: 300px 300px 0px 0px;
    display: flex;
    align-items: flex-end;
}

.flower-name {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-top: 10px;
    margin-left: 170px;
    margin-right: 170px;
}

/* Extra section */

.extra-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: cover;
    height: 320px;
    background-color: #e0ced2;
    margin: 128px 170px 128px 170px;
    border-radius: 10px;

}

.service-1 {
    text-align: center;
}

.service-1 img {
    width: 50px;
    height: 50px;
}

.service-1 p {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 16px;
    line-height: 35px;
    font-weight: 600;
}

.service-2 {
    text-align: center;
}

.service-2 img {
    width: 50px;
    height: 50px;
}

.service-2 p {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 16px;
    line-height: 35px;
    font-weight: 600;
}

.service-3 {
    text-align: center;
}

.service-3 img {
    width: 50px;
    height: 50px;
}

.service-3 p {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 16px;
    line-height: 35px;
    font-weight: 600;
}

/* hot deal section */

.hot-deal {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.deal-content {
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.deal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}

.deal-para {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.btn-sign-up {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    border: none;
    padding: 10px;
    margin-top: 50px;
    margin-left: 250px;

}

.deal-img {
    display: flex;
    width: 218px;
    height: 320px;
    margin-left: 25px;
}

/* instagram section */


.instagram-content h3 {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.instagram-content p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 50px;
}

.instagram-img {
    display: flex;
    margin-left: 170px;
    margin-right: 170px;
    justify-content: space-around;
    margin-bottom: 20px;
}

.instagram-img img {
    width: 242px;
    height: 296px;
}